In [17]:
import pandas as pd

# 参数 skipRows 指定跳过前几行
# 参数 usecols 指定读取哪几列
# books = pd.read_excel('./output/input_009.xlsx', skiprows=7, usecols="D,E,F,G")
# 因为要自动填充ID列，所以设置index_col为None
books = pd.read_excel('./output/input_009.xlsx', skiprows=7, usecols="D:G",index_col=None, dtype={"ID":str, "InStore": str, "Date": str})

print(books)

     ID      Name InStore Date
0   NaN  Book_001     NaN  NaN
1   NaN  Book_002     NaN  NaN
2   NaN  Book_003     NaN  NaN
3   NaN  Book_004     NaN  NaN
4   NaN  Book_005     NaN  NaN
5   NaN  Book_006     NaN  NaN
6   NaN  Book_007     NaN  NaN
7   NaN  Book_008     NaN  NaN
8   NaN  Book_009     NaN  NaN
9   NaN  Book_010     NaN  NaN
10  NaN  Book_011     NaN  NaN
11  NaN  Book_012     NaN  NaN
12  NaN  Book_013     NaN  NaN
13  NaN  Book_014     NaN  NaN
14  NaN  Book_015     NaN  NaN
15  NaN  Book_016     NaN  NaN
16  NaN  Book_017     NaN  NaN
17  NaN  Book_018     NaN  NaN
18  NaN  Book_019     NaN  NaN
19  NaN  Book_020     NaN  NaN

In [26]:
# 循环的方法设置列的值
from datetime import date, timedelta

startDate = date(2018,1,1)

def add_month(d,md):
  yd = md // 12
  m = d.month + md % 12
  if m != 12:
    yd += m //12
    m = m % 12
  return date(d.year + yd, m, d.day)


for i in books.index:
  books['ID'].at[i] = i+1
  books["InStore"].at[i] = "Yes" if i % 2 == 0 else 'No'
  # books['Date'].at[i] = startDate + timedelta(days=i)
  # books['Date'].at[i] = date(startDate.year +i, startDate.month, startDate.day)
  books['Date'].at[i] = add_month(startDate, i)


print(books)

books.to_excel('./output/output_009.xlsx', index=False)

    ID      Name InStore        Date
0    1  Book_001     Yes  2018-01-01
1    2  Book_002      No  2018-02-01
2    3  Book_003     Yes  2018-03-01
3    4  Book_004      No  2018-04-01
4    5  Book_005     Yes  2018-05-01
5    6  Book_006      No  2018-06-01
6    7  Book_007     Yes  2018-07-01
7    8  Book_008      No  2018-08-01
8    9  Book_009     Yes  2018-09-01
9   10  Book_010      No  2018-10-01
10  11  Book_011     Yes  2018-11-01
11  12  Book_012      No  2018-12-01
12  13  Book_013     Yes  2019-01-01
13  14  Book_014      No  2019-02-01
14  15  Book_015     Yes  2019-03-01
15  16  Book_016      No  2019-04-01
16  17  Book_017     Yes  2019-05-01
17  18  Book_018      No  2019-06-01
18  19  Book_019     Yes  2019-07-01
19  20  Book_020      No  2019-08-01

In [27]:
# 使用DataFrame直接修改单元格的值
for i in books.index:
  books.at[i, 'ID'] = i+1
  books.at[i, "InStore"] = "Yes" if i % 2 == 0 else 'No'
  books.at[i, 'Date'] = add_month(startDate, i)

print(books)

    ID      Name InStore        Date
0    1  Book_001     Yes  2018-01-01
1    2  Book_002      No  2018-02-01
2    3  Book_003     Yes  2018-03-01
3    4  Book_004      No  2018-04-01
4    5  Book_005     Yes  2018-05-01
5    6  Book_006      No  2018-06-01
6    7  Book_007     Yes  2018-07-01
7    8  Book_008      No  2018-08-01
8    9  Book_009     Yes  2018-09-01
9   10  Book_010      No  2018-10-01
10  11  Book_011     Yes  2018-11-01
11  12  Book_012      No  2018-12-01
12  13  Book_013     Yes  2019-01-01
13  14  Book_014      No  2019-02-01
14  15  Book_015     Yes  2019-03-01
15  16  Book_016      No  2019-04-01
16  17  Book_017     Yes  2019-05-01
17  18  Book_018      No  2019-06-01
18  19  Book_019     Yes  2019-07-01
19  20  Book_020      No  2019-08-01